.wrap{
    width:900px;
    height:1350px;
    margin-left:auto;
    margin-right:auto;
}
.person1{
    float:left;
    height:125px;
    width:450px;
}
.person2{
    float:left;
    height:125px;
    width:450px;
}
.top{
    height:125px;
    width:225;
}
.blogo{
    margin-top:20px;
    margin-right:15px;
    height:62px;
    width:140px;
}
.binfo{
    height:125px;
    width:225;
}
.flogo{
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    width:70%;
}
.blink{
    z-index:1;
    margin-right:10px;
    text-align:right;
    font-size:85%;
    font-style:italic;
    font-family:Arial,Helvetica,sans-serif;
    color:white;
}
.nav{
    vertical-align:baseline;
    list-style-type:none;
    float:right;
}
.look{
    margin-left:30px;
    font-family:Arial,Helvetica,sans-serif;
    color:white;
}
.hero_quote{
    margin-left:30px;
    font-size:85%;
    font-style:italic;
    font-family:Arial,Helvetica,sans-serif;
    color:white;
}
.quote{
    margin-top:50px;
    float:left;
    background-color:transparent;
    color:white;
}
a:hover {color:gray;}
a{
    text-decoration:none;
    font-family:Arial,Helvetica,sans-serif;
    background-color:transparent;
    color:white;
}
.menu{
    display:inline;
    padding: 8px;
}
.body{
    background-color:#C0DEED;
}
.banner
{
    width:900px;
    height:250px;
}
.exquote
{
    text-align:center;
    width:900px;
    height:150px;
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:black;
    margin-top:-20px;
}
.big_quote{
    padding:20px;
    
}
.business
{
    margin-top:-20px;
    width:900px;
    height:250px;
    background-color:white;
}
.lblock
{
    width:450px;
    height:250px;
    background-color:black;
    float:left;
}
.rblock
{
    width:450px;
    height:250px;
    background-color:white;
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}
.maps{

    width:900px;
    height:350px;
    background-color:white;  
}
.people
{
    width:450px;
    height:250px;
    background-color:white;
    float:left;
}
.crunch
{
    width:450px;
    height:250px;
    background-color:white;
    float:right;

}
.footer
{
    float:left;
    width:900px;
    height:150px;
    background-color:#3E80FA;
}

.font_ {
    font-size:20px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    color: #A0A0A0;
}

.Looker {
    margin-top:10px;
    font-size:20px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
}

.small-font {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}

.desc{
    margin:10px;
}
.linked{
    color:white;
    font-size:30px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.center {
    height:100;
    width: 900px;
    background-color:#3E80FA;
}

.left {
    float:left;
}
.border {
    border: 1px solid #A0A0A0;
}
 100%;
}
